.text-area *.text {
    -fx-text-alignment: justify;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: #2b2d30;
    -fx-border-color: #4d4e51;
    -fx-pref-width: 10 ;
}
.scroll-bar:vertical > .thumb,.scroll-bar:horizontal > .thumb {
    -fx-background-color: #4d4e51;
}

.scroll-bar:vertical,.scroll-bar:horizontal {
    -fx-background-color: #2b2d30;
}